@media (max-width: 960px) {
  .wrapper {
    width: 90% !important;
  }
}

@media (max-width: 480px) {
  .bot-row {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .wrapper {
    width: 100% !important;
    margin-right: 18px;
    margin-left: 18px;
  }

  .searchbar > div > input {
    font-size: 15px;
  }
}

.bot-row {
  align-items: center;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

* {
  font-family: "Montserrat", sans-serif;
}

.intro-text {
  font-weight: 600;
}

.rev {
  display: flex;
  flex-direction: row-reverse;
}

.searchbar {
  display: flex;
}

.searchbar > div > input {
  height: auto;
  width: 90%;
  outline: none;
  border: none;
  border-radius: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
}

input::-webkit-input-placeholder {
  line-height: 1;
}

.wrapper {
  width: 60%;
  border-radius: 80px;
  display: flex;
  align-items: center;
  border: solid;
  max-height: max-content;
  border-width: 0.1px;
  margin-bottom: 18px;
  margin-top: 18px;
  color: grey;
}

.wrapper {
  border-radius: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border: solid;
  border-width: 0.1px;
  margin-bottom: 18px;
  color: grey;
}

.wrapper:hover {
  color: black;
}
.search-icon:hover {
  cursor: pointer;
}
