.row {
  align-items: center;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

* {
  font-family: "Montserrat", sans-serif;
}

.intro-text {
  font-weight: 600;
}

.rev {
  display: flex;
  flex-direction: row-reverse;
}

.searchbar {
  display: flex;
  padding-top: 18px;
}

.searchbar > div > input {
  height: auto;
  width: 90%;
  outline: none;
  border: none;
  background-color: #e9eef3;
  border-radius: 80px;
  padding: 15px 20px;
  padding-right: 0px !important;
  max-width: 70rem;
}

.search-icon {
  color: gray;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.wrapper {
  width: 55%;
  border-radius: 80px;
  background-color: #e9eef3;
  display: flex;
  align-items: center;
}

.submit {
  cursor: pointer;
  border: none;
  background-size: 35px 35px;
  border-radius: 0 20px 20px 0;
  padding: 15px 25px;
  display: inline-block;
  width: 150px;
  height: 80px;
}
