.bot-row {
  align-items: center;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

* {
  font-family: "Montserrat", sans-serif;
}

.intro-text {
  font-weight: 600;
}

.rev {
  display: flex;
  flex-direction: row-reverse;
}

.searchbar {
  display: flex;
}

.searchbar > div > input {
  height: auto;
  width: 90%;
  outline: none;
  border: none;
  background-color: #fff;
  border-radius: 80px;
  padding: 15px 20px;
  padding-right: 0px !important;
  max-width: 70rem;
}

.wrapper {
  width: 55%;
  border-radius: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border: solid;
  border-width: 0.1px;
  margin-bottom: 18px;
  color: grey;
}

.wrapper:hover {
  color: black;
}
.search-icon:hover {
  cursor: pointer;
}
